/* Header Setup */
.site-branding {
    border-bottom: 3px solid black;
}

/* Custom Logo */
.custom-logo {
    width: 5%;
    margin-top: 1%;
    margin-left: 5%;
}

.site-title, .site-description, .menu-toggle {
    display: none;
}

#primary-menu {
    font-family: 'Dederon Sans';
    font-size: 20px;
    float: right;
    margin-top: -90px;
}

#primary-menu ul {
    list-style: none;
    display: flex;
    flex-direction: space-between;
}

#primary-menu a {
    color: black;
}

#primary-menu li {
    margin-top: 4%;
    margin-left: -1%;
}


/*== FOOTER ==*/

footer {
    width: 100%;
    height: max-content;
    color: white;
    display:flex;
    padding:3rem 0;
    align-items:center;
    justify-content: space-between;
    background-color: #343333; 
}

.footer section {
    width: 100%;
    vertical-align: top;
    padding: 1rem 1rem;
}

.footer section h5 {
    color:var(--white); 
    text-decoration: 2px underline;
}

.footer section a {
    font-size: 16px;
    color:var(--white);
}
#mainlink {
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-top: 3%;
    margin-top: -60px;
    margin-left: -150px;
    padding-bottom: 10%;
    color:var(--white); 
}

#mainlinkone {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: -250px;
    margin-left: 250px;
    color:var(--white); 
}

#mainlinktwo {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: -125px;
    margin-left: 650px;
    color:var(--white); 
}

.copyright-text {
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
