/*== Header Setup ==*/
.site-branding {
    border-bottom: 3px solid black;
}
h1 {
    text-align: center;
}

/*== Custom Logo ==*/
.custom-logo {
    width: 5%;
    margin-top: 1%;
    margin-left: 5%;
}

/*== Primary-Menu ==*/
#primary-menu {
    font-family: 'Dederon Sans';
    font-size: 20px;
    float: right;
    margin-top: -90px;
}

#primary-menu ul {
    list-style: none;
    display: flex;
    flex-direction: space-between;
}
#primary-menu a {
    color: black;
}

#primary-menu li {
    margin-top: 4%;
    margin-left: -1%;
}
.site-title, .site-description, .menu-toggle {
    display: none;
}


/*== FOOTER ==*/
.footer section {
    width: 100%;
    vertical-align: top;
    padding: 1rem 1rem;
}
.footer section h5 {
    color:var(--white); 
    text-decoration: 2px underline;
}
.footer section a {
    font-size: 16px;
    color:var(--white);
}
.copyright-text {
    border-top: 2px solid #222;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}