/* Styling Content */

.wp-block-quote{
    color: blue;
}
.wp-block-quote.is-style-fancy-quote{
    color: rgb(4, 151, 165);
}
.entry-content > *{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Align wide or full */
.alignwide {
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
}
.alignfull {
  max-width: 100%;
}

/* Custom Logo */
.custom-logo{
    width: 150px;
}
/* Feature Image */
.wp-block-image{
    width: 100%;    
}

/* HomeSetup */
/* Images Setup */
.wp-image-34 {
    width: 100%;
    margin-top: 30px;
    margin-left: 5.5%;
}
.wp-image-47 {
    width: 39%;
    margin-top: -188px;   
    margin-left: 800px;
}
.wp-image-60 {
    width: 100%;
   margin-top: 50px; 
   margin-left: -140px;
}
.wp-image-61 {
    width: 100%;
    margin-top: 50px;
    margin-left: 50px; 
    margin-bottom: 50px;
 }
.wp-image-62 {
    width: 100%;
    margin-top: 50px; 
    margin-left: 240px;
 }
.has-text-align-center {
    text-align: center;
    margin-top: 10%;
    font-size: 33px;
    font-weight: bold;
    text-decoration: underline;
}
.has-text-align-left {
    text-align: left;
    font-size: 33px;
    margin-top: 70px;
    margin-left: 240px;
}
.wp-container-622ba674ad9a2, .wp-block-buttons {
    margin-top: -10%;

}
.wp-container-6226a8d0c6f49, .wp-block-buttons {
    margin-left: -64px;
}

/*== Contact Setup ==*/
.contactheading {
    margin-top: 30px;
    margin-left: -30%;
    text-decoration: 4px underline;
}
.paragraph {
    float: left;
    font-size: 18px;
    margin-left: 240px;
    margin-top: 5px;
}
.entry-content {
    float: right;
    margin-bottom: 5%;
    margin-right: 10%;;
}

/*== About Setup ==*/
.about-heading2 {
    text-decoration: 4px underline;
    margin-left: -30%;
}
.mission-head {
    text-align: center;
}
.about-heading {
    margin-top: 30px;
    margin-left: -30%;
}
.env-para {
    padding-right: 10%;
}
.icon-heading {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
} 

/* Footer Archives Content */
.attachment-post-thumbnail, .size-post-thumbnail, .wp-post-image {
    width: 22%;
    margin-left: 30%;
    margin-bottom: 2%;
}
p, li {
    font-family: 'Euphemia UCAS';
    font-weight: 200;
    font-size: 20px;
}
.wpquery-post {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
}
.custom-posts {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
}

/* Content Display None */
.entry-title {
    display: none;
}
.nav-next, .comment-reply-title, .logged-in-as, .required, #comment, .form-submit, #label {
    display: none;
}
.comment-notes {
    display: none;
}
#commentform {
    display: none;
}
.wp-block-search__label, .wp-block-search__inside-wrapper{
    display: none;
}
