
/* Woocommerce Setup*/

.cart-heading {
    margin-top: 30px;
    text-decoration: 4px underline;
}

.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
    margin-top: 400px;
    border: 2px solid #222222;
    padding: 20px;
    margin-top: 8%;
    margin-left: -25%;
}

.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: 60%;
}
a {
    font-family: 'Dederon Sans';
    font-size: 20px;
    color:var(--black); 
}
.product-name, .product-price, .product-quantity, .product-subtotal {
    font-family: 'Dederon Sans';
    font-size: 22px;
    color:var(--black);
}
#coupon_code {
  width: 170px;
  border: 1px solid #222222;
}
.button {
    font-family: 'Dederon Sans';
    font-size: 20px;
    border: 1px solid #222222 !important;
    background-color: white !important;
    color: var(--black);
}
.checkout-button.button.alt.wc-forward {
    font-family: 'Dederon Sans';
    font-size: 20px;
    border: 1px solid #ffffff !important;
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}
.woocommerce-info, .woocommerce-additional-fields {
    display:none;
}
h3{
    margin-top: 50px;
    text-decoration: 4px underline; 
    font-size: 40px;
    margin-bottom: 30px;
}
.input-text {
    width: 60%;
    font-family: 'Dederon Sans';
    font-weight: 200;
    font-size: 20px;
    border: 1px solid #222222 !important;
}
label {
    font-family: 'Dederon Sans';
    font-size: 20px;  
}
#select2-billing_country-container {
    font-family: 'Dederon Sans';
    font-size: 20px;
}
.shop_table.woocommerce-checkout-review-order-table table{
    margin-left: 400px;
}
#order_review {
    margin-left: 600px;
    margin-bottom: 60px;
}
#order_review_heading {
    margin-top: -925px;
    margin-left: 600px;
    margin-bottom: 30px;
}
#place_order {
    font-family: 'Dederon Sans';
    font-size: 20px;
    border: 1px solid #ffffff !important;
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}
.woocommerce-order {
    margin-top: 30px;
}
.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received,
.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details{
    font-family: 'Dederon Sans';
    font-size: 18px;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  background-color: #ebebeb;
  margin-right: 10%;
  border-radius: none !important;
}

.woocommerce-ResetPassword, .lost_reset_password {
    width: 80%;
    background-color: #ebebeb;
    padding: 3.2rem;
}
.woocommerce .columns-4 {
    margin-right: 270px;
}
.cart-empty, .woocommerce-info {
    margin-right: 320px;
}
.col-set2 {
    margin-right: 300px;
}
.woocommerce-billing-fields {
    margin-right: 100px; 
}
.cartheading {
    margin-top: 70px;
    margin-left: -40%;
    text-decoration: 4px underline;
}
.cart-collaterals {
    margin-top: 7%;
    margin-left: -25%;
}
.woocommerce-result-count, .orderby {
    font-family: 'Dederon Sans';
    font-weight: 200;
    font-size: 20px;
}
.products, .columns-4 {
    margin-top: 2%;
}
.zoomImg {
    margin-right: 8%;
}
.post-101, .product, .type-product, .status-publish, .has-post-thumbnail, .product_cat-tshirts, .first, .instock, .taxable, .shipping-taxable, .purchasable, .product-type-simple {
    margin-top: 2%;
}
.entry-content {
    margin-left: 5%;
}