/* Woocommerce Setup*/

.cart-heading {
    margin-top: 30px;
    text-decoration: 4px underline;
}

.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
    margin-top: 50px;
    border: 2px solid #222222;
    padding: 20px;
}

.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: 60%;
}
a {
    font-family: 'Dederon Sans';
    font-size: 20px;
    color:var(--black); 
}
.product-name, .product-price, .product-quantity, .product-subtotal {
    font-family: 'Dederon Sans';
    font-size: 22px;
    color:var(--black);
}
#coupon_code {
  width: 170px;
  border: 1px solid #222222;
}
.button {
    font-family: 'Dederon Sans';
    font-size: 20px;
    border: 1px solid #222222 !important;
    background-color: white !important;
    color: var(--black);
}
.checkout-button.button.alt.wc-forward {
    font-family: 'Dederon Sans';
    font-size: 20px;
    border: 1px solid #ffffff !important;
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

